* {
    margin: 0;
    padding: 0;
}

header {
    background-color: var(--color-primary);
    display: flex;
    height: 60px;
    align-items: center;
}

.dsmovie-nav-content h1 {
    margin: 0;
    font-weight: 700;
    font-size: 24px;
}
.dsmovie-nav-content {
    color: #FFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ds-movie-contact-container {
    display: flex;
    align-items: center;
}

.dsmovie-contact-link {
    margin: 0 0 0 10px;
    font-size: 12px;
} 